- if @user.errors.any?
  #error_explanation
    h2
      | Были обноружены ошибки в количестве #{@user.errors.count}
      | штук(и), исправте их:
    p Описание ошибок:
    ul
      - @user.errors.full_messages.each do |msg|
        li= msg