=content_for :links do
 .filter=form_for :filter, url: {action: :index}, html: {method: :get} do |f|
  .field
   =f.label :from, "С:", style: "font-size: 18px;font-weight: bold; width: 10px;display: inline-block; padding-right: 40px; text-align: right"
   =date_field('filter', 'from', value: @from, style: "width: 130px;")
  .field
   =f.label :to, "По:", style: "font-size: 18px;font-weight: bold; width: 10px;display: inline-block; padding-right: 40px;text-align: right"
   =f.date_field :to, value: @to, style: "width: 130px;"     
   =link_to "Применить", "#", onclick: "$('form').submit()"
 p=link_to "Назад", admin_path
 br
 -unless params[:status].present?
  p=link_to "Показать только работающих сотрудников", effective_rieltors_path(status: 1) 
 -if params[:status].present?
  p=link_to "Показать всех сотрудников", effective_rieltors_path 
table.result
 tr
  th.head colspan='3' Риэлторы
  th.head colspan='3' Объекты
  th.head colspan='3' Проспекты
 tr
  th №
  th ФИО
  th Нач. работы
  th.vertical Соглашения
  th.vertical Договоры
  th.vertical Активн.
  th.vertical Обращения
  th.vertical Заинтересов
  th.vertical %
 -i = 0
 -@effective.each do |result|
  tr
   td=i+=1
   td style="text-align:left"=link_to "#{result.sename} #{result.name}", effective_rieltor_path(result)
   td=result.begin_job.strftime("%d.%m.%Y")
   td=result.sale_objects.agreement.count
   td=result.sale_objects.contract.count
   td=result.sale_objects.where(status: [3,4]).count
   td=treatment = result.client_requests.treatment.count
   td=accompanied = result.client_requests.accompanied.count
   td=(accompanied/treatment)*100 unless treatment.zero?