=content_for :links do
 .filter=form_for :filter, url: {action: :show}, html: {method: :get} do |f|
  .field
   =f.label :from, "С:", style: "font-size: 18px;font-weight: bold; width: 10px;display: inline-block; padding-right: 40px; text-align: right"
   =f.date_field :from, style: "width: 130px;" 
  .field
   =f.label :to, "По:", style: "font-size: 18px;font-weight: bold; width: 10px;display: inline-block; padding-right: 40px;text-align: right"
   =f.date_field :to, style: "width: 130px;"
  .field
   =f.check_box :active, style: "float: left; margin-right: 10px;"
   =f.label :active, "Активные", style: "display: inline; margin-right: 40px;"
   =link_to "Применить", "#", onclick: "$('form').submit()"
 p=link_to "Назад", effective_rieltors_path
table.result
 tr
  th.head colspan='4' Недвижимость
  th.head colspan='3' Покупатели
 tr
  th №
  th Адрес
  th Начало
  th Окончание 
  th.vertical Обращения
  th.vertical Заинтересов
  th.vertical %
 -i = 0
 -@rieltor.each do |result|
  tr
   td=i+=1
   -unless result.status == 3 || result.status == 4 
    td style="text-align:left;"= link_to "#{getRegionName result.region}, #{result.street_type} #{result.street}, (#{result.owner_phone})", edit_sale_object_path(result), style: "color:#828282" 
   -else 
    td style="text-align:left"= link_to "#{getRegionName result.region}, #{result.street_type} #{result.street}, (#{result.owner_phone})", edit_sale_object_path(result)
   td=result.begin_contract.strftime("%d.%m.%Y") unless result.begin_contract.nil?  
   td=result.end_contract.strftime("%d.%m.%Y") unless result.end_contract.nil?  
   td= status_1 = result.client_requests.where(status: 1).count()
   td= status_2 = result.client_requests.where(status: [2,3]).count()
   td=(status_2/status_1)*100 unless status_1.zero?