.admin_page_title Подсистемы
=link_to "Недвижимость", sale_objects_path
.help-block class='hint' Управление данными об оъектах недвижимости
=link_to "Проспекты", client_requests_path
.help-block class='hint' Управление данными о потенциальных проспектах
=link_to "Результаты", effective_rieltors_path
.help-block class='hint' Контроль результатов работы отдельных риэлторов и агентств в целом
=link_to "Сотрудники", personals_path
.help-block class='hint' Управление данными о сотрудниках агентств
br
=link_to "Отчет СМС рассылки", 'https://www.smspilot.ru/my-report.php'
hr

=link_to 'Вопрос-ответ',answers_path
br
=link_to 'Текст на главной (Редактировать)',edit_main_page_path(1) unless MainPage.take.nil?
=link_to 'Текст на главной (Добавить)',new_main_page_path if MainPage.take.nil?
br
=link_to 'О компании (Редактировать)', edit_about_path(1) unless About.take.nil?
=link_to 'О компании (Добавить)', new_about_path if About.take.nil?

h4 Услуги:
|&nbsp;&nbsp;
=link_to 'Займы под залог недвижимости (Добавить)', new_zalog_path if Zalog.take.nil?
=link_to 'Займы под залог недвижимости (Редактировать)', edit_zalog_path(1) unless Zalog.take.nil?
br
|&nbsp;&nbsp;
=link_to 'Срочный выкуп недвижимости (Добавить)',new_buyout_path if Buyout.take.nil?
=link_to 'Срочный выкуп недвижимости (Редактировать)',edit_buyout_path(1) unless Buyout.take.nil?
br
|&nbsp;&nbsp;
=link_to 'Подбор недвижимости (Добавить)', new_select_object_path if SelectObject.take.nil?
=link_to 'Подбор недвижимости (Редактировать)', edit_select_object_path(1) unless SelectObject.take.nil?

h4 Важно:
/|&nbsp;&nbsp;
/=link_to 'Застройщикам (Добавить)', new_developer_path if Developer.take.nil?
/=link_to 'Застройщикам (Редактировать)', edit_developer_path(1) unless Developer.take.nil?
/|&nbsp;&nbsp;
/=link_to 'Кредитным организациям (Добавить)', new_kredit_path if Kredit.take.nil?
/=link_to 'Кредитным организациям (Редактировать)',  edit_kredit_path(1) unless Kredit.take.nil?
/|&nbsp;&nbsp;
/=link_to 'Агентствам недвижимости (Добавить)', new_agent_path if Agent.take.nil?
/=link_to 'Агентствам недвижимости (Редактировать)', edit_agent_path(1) unless Agent.take.nil?
/|&nbsp;&nbsp;
/=link_to 'Собственникам коммерческой недвижимости (Добавить)', new_owner_komerch_path if OwnerKomerch.take.nil?
/=link_to 'Собственникам коммерческой недвижимости (Редактировать)', edit_owner_komerch_path(1) unless OwnerKomerch.take.nil?
|&nbsp;&nbsp;
=link_to 'Полезная информация (Добавить)', new_help_information_path if HelpInformation.take.nil?
=link_to 'Полезная информация (Редактировать)', edit_help_information_path(1) unless HelpInformation.take.nil?
/br
/|&nbsp;&nbsp;
/=link_to 'Образцы документов', '#'

br
br
=link_to 'Редактирование новостей ', admin_index_news_on_sites_path
br
=link_to 'PDF Новости', papers_path
br
=link_to 'Регионы ', regions_path
br
=link_to 'SEO', seos_path
br
=link_to 'Банеры в загаловке', top_banners_path
-if getBirthdays.any?
 .birthdays
  h4 Дни рождения
  ul
   -getBirthdays.each do |persona|
    li=persona
