-meta @id_page
=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 .current_page= @help_informations.nil? ? "" : @help_informations.title.mb_chars.capitalize
.left_block
 .franchasing
  .title= @help_informations.nil? ? "" : @help_informations.title
  .desc= @help_informations.nil? ? "" : @help_informations.description.html_safe
