p.block_head Местоположение
.field   
 =f.label :region 
 =f.select :region, @regions || []
 span *
.field
 =f.select :locality_type, getLocalityType,{},{style: "width: 100px; margin-right: 10px;"}
 =f.text_field :locality, required: true  
 span *
/ .field
/  =f.label :area
/  =f.text_field :area
.field
 =f.label :district
 =f.select :district, @districts || []
.field
 =f.select :street_type, getStreetType,{},style: "width: 100px; margin-right: 10px;"
 =f.text_field :street, required: true  
 span *
.field
 =f.select :object_type, getObjectType,{},style: "width: 100px; margin-right: 10px;"
 =f.text_field :object, style: "margin-right: 20px; width: 80px;"  
 =f.label :letter, style: "width: 100px"
 =f.text_field :letter,  title: "Буква", style: "width: 40px;"
.field
  =f.check_box :show_number,  title: "Показывать номер дома"
  =f.label :show_number,"Показывать номер дома", style: "width: 160px; margin-left: 10px; margin-top: 10px;"  
.field
 =f.select :block_type, getBlockType, {}, style:"width: 100px;  margin-right: 10px;" 
 =f.text_field :block, style: "margin-right: 20px; width: 80px;"
 =f.label :flat, style: "width: 100px"
 =f.text_field :flat, title: "Квартира", style: "width: 40px;"
.field
 =f.label :index
 =f.text_field :index, style: "width: 130px;"
.field
 =f.label :station_metro
 =f.text_field :station_metro
p.block_head Сопровождение
.field
 =f.label :agency
 =f.select :agency, getOperator
.field
 =f.label :personal
 =f.select :personal_id, @personals || []
.field
 =f.label :status
 =f.select :status, getStatus
.field 
 =f.label :begin_contract,  style: "padding-right: 10px; font-weight:bold"    
 =f.date_field :begin_contract, style: "width: 150px;"
 span *
.field
 =f.label :end_contract, style: "padding-right: 10px;font-weight:bold;"
 =f.date_field :end_contract, style: "width: 150px;"
p.block_head Личные данные
.field
 =f.label :owner
 =f.text_field :owner
.field
 =f.label :owner_phone, 'Телефон владельца'
 =f.text_field :owner_phone, style: "width: 130px;"
.field
 =f.label :price
 =f.text_field :price, required: true, style: "width: 100px;"
 span &nbsp;*
 span &nbsp;руб.
 div style="display: inline-block; width: 130px; margin-left: 10px;"
  =f.check_box :hide_price, {style: "width: 20px; margin-bottom: 7px;"}
  =f.label :hide_price, style: "width: 100px;"
.field
 =f.label :client_request 
 =f.text_field :client_request
.field
 =f.label :client_phone 
 =f.text_field :client_phone, style: "width: 130px;"
.field   
 =f.label :finaly_price
 =f.text_field :finaly_price, style: "width: 130px;"
.field 
 =f.label :date
 =f.date_field :date, style: "width: 150px;"