-content_for :links do
  p=link_to 'Назад', sale_objects_path  
  br
  p=link_to "Сохранить", "#", onclick:"$('form').submit()"
  p=link_to 'Удалить', {action: :destroy}, confirm: "Удалить объект", method: :delete
  p=link_to "Аванс", avans_sale_object_path, method: 'patch' unless @sale_object.avans
  p=link_to "Продано", sold_sale_object_path, method: 'patch' unless @sale_object.sold
  p=link_to "Истек срок договора", expired_sale_object_path, method: 'patch' unless @sale_object.expired
    
.title Редактировать объект
-unless @sale_object.avans.zero?
 .avans Объект под авансом
-unless @sale_object.sold.zero?
 .sold Объект продан 
-unless @sale_object.expired.zero?
 .expired Истек срок договора
=render 'error_messages' 
-@districts = []  
-District.select(:name).where(region_id: @sale_object.region).each do |district| 
 -@districts << district.name
=form_for @sale_object, :html => {:multipart => true} do |f|   
 -sale_object = SaleObject.find(params[:id])
 -structure_type = sale_object.structure_type
 -owner_form = sale_object.owner_form
 -if getTypeLived.include?(structure_type)
  =hidden_field_tag :structure_type_select, 1
  -type = 1
  -@get_type = getTypeLived
 -else 
  =hidden_field_tag :structure_type_select, 2
  -type = 2
  -@get_type = getTypeCommerc
 -if owner_form == 1
  -single_or_half = 1
 -else
  -single_or_half = 2
 table.sale_object class="table"
  tr
   td    
    =render partial: "block_left", locals: {f: f}
   td    
    =render partial: "block_right", locals: { f: f, type: type, structure_type: structure_type, single_or_half: single_or_half }  