-content_for :links do
 p=link_to 'Назад', sale_objects_path
 br
 p=link_to "Сохранить", "#", onclick:"$('form').submit()"
 
.title Добавить объект
=render 'error_messages'
=form_for @sale_object, :html => {:multipart => true} do |f|  
 -type = 1
 -structure_type = 1
 -single_or_half = 1
 table.sale_object class="table"
  tr
   td    
    =render partial: "block_left", locals: {f: f}
   td    
    =render partial: "block_right", locals: { f: f, type: type, structure_type: structure_type, single_or_half: single_or_half }
 