=content_for :links do
 p=link_to 'Назад', seos_path 
 br
 p=link_to "Сохранить", "#", onclick:"$('form').submit()"
.seo 
	=form_for @seo do |f|
	 .field
	  =f.label :title, "Заголовок" 
	  =f.text_field :title, size: 100
	 .field
	  =f.label :description, "Описание" 
	  =f.text_field :description, size: 100
	 .field
	  =f.label :keywords, "Теги" 
	  =f.text_field :keywords, size: 100
	 .field
	  =f.label :id, "Страница" 
	  =f.select :id, pages_id
	  =f.hidden_field :page_name, value: 'Главная'

 