p.block_head Заполняется в центральном офисе
.field
 =f.label :sename
 =f.text_field :sename, required: true  
.field 
 =f.label :name
 =f.text_field :name, required: true  
.field 
 =f.label :current_adress
 =f.text_field :current_adress
.field 
 =f.label :pasport
 =f.text_field :pasport
.field
 =f.label :sex
 =f.radio_button :sex, 1, checked: true
 =label_tag :client_request_sex_0, 'М', class: "check_radio_box_labels"
 =f.radio_button :sex, 2
 =label_tag :client_request_sex_1, 'Ж', class: "check_radio_box_labels"
.field 
 =f.label :birthday
 =f.date_field :birthday
.field 
 =f.label :begining_kurs
 =f.date_field :begining_kurs
.field 
 =f.label :status
 =f.select :status, getJobStatus
.field 
 =f.label :position
 =f.select :position, getPosition
.field 
 =f.label :agency
 =f.select :agency, getOperator
.field 
 =f.label :begin_job
 =f.date_field :begin_job
.field 
 =f.label :end_job
 =f.date_field :end_job
.field 
 =f.label :rang
 =f.select :rang, getRang
