p.block_head Заполняется в агентстве
.field 
 =f.label :email
 =f.text_field :email
.field 
 =f.label :job_phone
 =f.text_field :job_phone
.field 
 =f.label :mobile_phone
 =f.text_field :mobile_phone, required: true  
.field 
 =f.label :official_adress
 =f.text_field :official_adress
.field 
 =f.label :comment
 =f.text_area :comment
