=content_for :links do
 p=link_to "Назад", personals_path
 br
 p=link_to "Сохранить", "#", onclick: "$('form').submit()" 
 p=link_to "Удалить", {action: :destroy}, confirm: "Удалить"
 
.title Редактировать сотрудника
=render 'error_messages'  
.admin_edit
 =form_for @personal  do |f|  
  table.personal class="table"
   tr
    td 
     =render partial: "block_left", locals: {f: f}
    td    
     =render partial: "block_right", locals: { f: f }
     .field style="text-align: center" 
      .image 
       =image_tag(@personal.avatar_url) if @personal.avatar? 
      =f.file_field :avatar
      =f.hidden_field :avatar_cache 