=content_for :links do
 p=link_to "Назад", personals_path
 br
 p=link_to "Сохранить", "#", onclick: "$('form').submit()" 
 
.title Добавить сотрудника
=render 'error_messages'  
=form_for @personal  do |f|  
 table.personal class="table"
  tr
   td 
    =render partial: "block_left", locals: {f: f}
   td    
    =render partial: "block_right", locals: { f: f}
    .field
     =f.file_field :avatar
     =f.hidden_field :avatar_cache 