.title= "#{@question.name} спрашивает:"
h4= @question.question 
p.answer_contacts= "Телефон:&nbsp; #{@question.phone unless @question.phone.blank?}".html_safe
p.answer_contacts= "Email:&nbsp; #{mail_to @question.email}".html_safe
=content_for :links do
 p=link_to "Назад", answers_path
 br
 p=link_to "Сохранить", "#", onclick: "$('form').submit()"  
=form_for @answer do |f|   
 .field  
  =f.label :answer
  =f.cktext_area :answer,  cols: 20, ckeditor:  {language: "ru"} 
  =f.hidden_field :question_id, value: params[:id]