.title= "Редактировать #{@new.title}"
=content_for :links do
 p=link_to "Назад", admin_index_news_on_sites_path
 br
 p=link_to "Сохранить", "#", onclick: "$('form').submit()"  
.admin_news_edit 
 =render 'error_messages' 
 =form_for @new do |f|  
  .field
   =f.label :title
   =f.text_field :title, style: "width: 900px;"
  .field
   .image 
    =image_tag(@new.image_url) if @new.image? 
   =f.file_field :image
   =f.hidden_field :image_cache 
  .field
   =f.label :anons
   =f.text_area  :anons,   rows: 10, style: "width: 95%" 
  .field
   =f.label :description
   =f.cktext_area :description,  cols: 20,  ckeditor:  {language: "ru"} 
