-meta @id_page
=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span 
 .current_page Новости
.left_block 
 .news_page
  =render partial: 'new', collection: @news, as: :news
 = paginate @news, theme: 'bootstrap'