-meta @id_page
=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span 
 =link_to "Новости", news_on_sites_path
 span 
 .current_page=@new.nil? ? "" : @new.title.mb_chars.downcase.capitalize
.left_block 
 -unless @new.nil?
  .news_detail_page
   .desc
    .inf 
     .title=@new.title 
     .date= "#{pen} #{Russian::strftime(@new.created_at,"%d %B, %Y")}".html_safe
    .mainimg
     =image_tag @new.image_url unless @new.image_url.nil? 	      
     =@new.description.html_safe