=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 .current_page= @foreign.nil? ? "" : @foreign.title.mb_chars.downcase
.left_block
 .foreign 
  .title= @foreign.nil? ? "" : @foreign.title
  .desc= @foreign.nil? ? "" : @foreign.description 