=content_for :links do
 p=link_to 'Назад', admin_path
 br
 p=link_to "Добавить объект", new_top_banner_path 
 br
.title Банеры в загаловке главной страницы 
.top_banners
 ul
  -@top_banners.each do |banner|
   li
    =link_to image_tag(banner.banner_url(:thumb)), edit_top_banner_path(banner) if banner.banner?
    =link_to banner.title, edit_top_banner_path(banner)
