.title Редактировать район
=content_for :links do
 p=link_to "Назад", new_district_path(region_id: @district.region_id)
 
 p=link_to "Сохранить", "#", onclick: "$('form').submit()"  
 
 p=link_to "Регионы", regions_path
=form_for @district do |f| 
 .field
  =f.label :name, "Название"
  =f.text_field :name, style:"width: 40%"