=content_for :links do
 p=link_to 'Назад', papers_path
 br
 p=link_to "Сохранить", "#", onclick:"$('form').submit()"
 p=link_to "Удалить", @paper, method: :delete, data: {confirm: "Удалить?"}
 br
.pdf
 .edit
  h2 Редактировать
  =form_for @paper do |f|
   .field
    =f.label :title, "Заголовок" 
    =f.text_field :title
   .field
     =f.file_field :file
     =f.hidden_field :file_cache  