=content_for :links do
 p=link_to 'Назад', admin_path
 br
 p=link_to "Добавить файл", new_paper_path 
 br
.pdf
 .index 
  h2 Список PDF файлов
  ul
   -@papers.each do |paper|
    li=link_to paper.title, edit_paper_path(paper)
  = paginate @papers, theme: 'bootstrap'