-meta @id_page
=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span 
 .current_page Квартирный вопрос
.left_block 
 .pdf
  .site_index 
   .title Квартирный вопрос
   ul
    -@papers.each do |paper|
     li=link_to paper.title, paper.file_url
   = paginate @papers, theme: 'bootstrap'