.title Редактирование О компании
=content_for :links do
 p=link_to "Назад", admin_path
 br
 p=link_to "Сохранить", "#", onclick: "$('form').submit()"  
=form_for @about do |f| 
 .field
  =f.label :title
  =f.text_field :title, style:"width: 70%"
 .field
  =f.label :description
  =f.cktext_area :description,  cols: 20, ckeditor:  {language: "ru"} 
