DOCTYPE html
html
 head
  meta content='text/html; charset=UTF-8' http-equiv='Content-Type'  
 body
  h2= "Заявка на размещение текстового объявления"    
  p="Имя: #{@name}"
  p="Email: #{@email}"
  p="Телефон: #{@phone}"
  p="Текст объявления: #{@text}"