DOCTYPE html
html
 head
  meta content='text/html; charset=UTF-8' http-equiv='Content-Type'  
 body
  h2= "С сайта была отправлена заявка"  
  p="Тип: #{@offer}"
  p="Имя: #{@name}"
  p="Email: #{@email}"
  p="Телефон: #{@phone}"
  p="Текст заявки: #{@text}"