DOCTYPE html
html
 head
  meta content='text/html; charset=UTF-8' http-equiv='Content-Type'  
 body
  h2= "Результаты теста с сайта kirsh.ru"  
  p Информация о пользователе
  p="ФИО: #{@fio}"
  p="Email: #{@email}"  
  p="Телефон: #{@phone}"
  p="Балл: #{@ball}"