.hint
{
	font-size: 12;
	color: #157211;
}
.title
{
	color: #005B27;
	font-size: 28px;
	margin-bottom: 20px;
}
.admin_page_title
{
	color: #005B27;
	font-size: 28px;
	padding-bottom: 60px;
}
hr
{
	width: 40%;
	margin-top: 2em;
	margin-bottom: 2em;
	color: #ccc;
	background-color: #ccc;
	height: 3px;
}
.birthdays
{
	position: relative; 
	bottom: 695px;
	float: right; 
	margin-right: 50px; 
	color: #FF4500;
	background: #FFF5EE;
	border: 1px ridge #FF4500;
	border-radius: 5px;
	padding: 10px;
	ul
	{
		list-style: decimal;
	}
}
.sale_object
{
	.image a
	{
		margin-right: 10px;
	}
}
.count
{
	margin-bottom: 10px;
	color: #005B27;
	font-weight: bold;
}