#cke_answer_answer
{
	width: 890px;
}
.questions_list
{
	ul
	{
		li
		{		
			margin-bottom: 10px;		
			span
			{
				display: inline-block;
				margin-left: 5px;
				font-size: 10px;
				vertical-align: middle;
				a
				{
					color: #ccc;
					text-decoration: none; 
				}
			}
		}
	}
}
.left_menu
{
	.current
	{
		color: #000;
		text-decoration: none;
		font-weight: bold;
		font-size: 13px;
	}
}
.answer_contacts
{
	color: #005B27;
}