//index
.left_menu_request
{		
	label
	{
		display: inline-block;
		padding-left: 5px;
		margin-top: 0;
		padding-top: 0;
		margin-bottom: 0;
	}
	input[type=radio]
	{
		vertical-align: top;
	}
	select
	{
		width: 188px;
	}
}
.dates
	{
		a
		{
			float: left;
			margin-right: 10px;
			margin-bottom: 10px;
		}
	}	
.client_request_index
{
	width: 850px;
	th
	{
		text-align: center;
		background: #008000;
		color: #D6EB00;
		font-weight: normal;
		font-size: 14px;	
	}
	td
	{
		height: 70px;
		border: 1px solid  #85AD96; 	
		text-align: center;
		font-size: 14px;
		
	}
	.name
	{
			width: 350px;
	}

}

//new
.client_requests
{
	input[type=text] { height: 33px; }
	width: 890px;	
	td
	{
		width: 40%;		
	 	// padding-left: 30px;
	 	// width: 45%;	
	 	padding-left: 0;
	 	margin-left: 0;
	 	label
	 	{
	 		font-weight: bold;
	 		display: inline-block;
	 		padding-right: 10px;
	 		vertical-align: middle;
	 		width: 28%;
	 	}
	 	.field
	 	{
	 		// padding-left: 30px;
	 		span
	 		{
	 			padding-left: 10px;
	 			font-weight: bold;
	 			font-size: 14px;	 			
	 		}
	 	}
	 	input[type=date], input[type=text]
	 	{
	 		width: 280px;
	 	}
	 	select
	 	{
	 		width: 280px;
	 	}
	 	
  }
  .block_head
  {
	 padding-left: 10px;
	 border: none;
  }
  .check_radio_box_labels
  {
  	width: inherit;
  	font-weight: normal;
  	padding-top: 7px;
  	padding-left: 5px;
  }
}
#check_phone
{
	font-size: 12px;
	color:#005B27;
	text-decoration: underline;
	cursor: pointer;
}
#check_phone_message
{
	padding-top: 5px;
	padding-bottom: 0;
}
#find
{
	width: 750px;
	form
	{
		border: 1px solid #CFCFCF;
		padding: 15px;
		border-radius: 5px;
		background: #008000;
		display: none;
		label
		{
			color: #D6EB00;
		}
	}
	p
	{
		font-size: 16px;
		font-weight: bold;
		cursor: pointer;
		color: #008000;
	}
	.submit
	{
		text-align: right;
		input
		{
			border: none;
			border-radius: 4px;
			background: #D6EB00;
			color: #008000;
			font-weight: bold;
		}
	}
}
#find_without_object
{
	width: 750px;
	form
	{
		border: 1px solid #CFCFCF;
		padding: 15px;
		border-radius: 5px;
		background: #008000;
		display: none;
		label
		{
			color: #D6EB00;
		}
	}
	p
	{
		font-size: 16px;
		font-weight: bold;
		cursor: pointer;
		color: #008000;
	}
	.submit
	{
		text-align: right;
		input
		{
			border: none;
			border-radius: 4px;
			background: #D6EB00;
			color: #008000;
			font-weight: bold;
		}
	}
}