#error_explanation
{
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 10px;
   font-family: 14px;
   font-weight: bold;
   font-style: italic;
   padding-top: 0;   
   margin-bottom: 20px;   
   color: #FF7256;   
}
.field_with_errors 
{

  input
  {
    background: #FF7256;    
    color: #fff;
  }
  textarea
  {
    background: #FF7256;    
    color: #fff; 
  }
  label 
  {
  }
  span
  {

  }
}