.banner
{	
	height: 313px;	
	padding-top: 9px;
	margin-bottom: 10px;
	background: url(asset-path("line999x9.jpg")) 0 0 no-repeat;
	#container 
	{
		// width:1282px;		
		margin:0 auto;
		position:relative;
		z-index:0;
		#slides 
		{
			position:relative;
			// top:15px;
			// left:4px;
			z-index:100;
			.next,.prev 
			{
				position:relative;
				bottom:210px;
				left:27px;
				// float: left;
				display:inline-block;
				z-index:101;
			}
			.next 
			{
				left:800px;
			}
		}
		.slides_container 
		{

			height:313px;
			overflow:hidden;
			position:relative;
			img
			{
			}
		}
		.pagination 
		{
			/*margin:26px auto 0;*/
			display: none;
			position: relative;
			bottom: 18px;
			padding-left: 50%;
		  z-index: 999;
			width:100px;
			li 
			{
				float:left;
				margin:0 1px;
				a 
				{
					display:block;
					width:12px;
					height:0;
					padding-top:12px;
					background-image:url(asset-path('pagination.png'));
					background-position:0 0;
					float:left;
					overflow:hidden;
				}
				.current a 
				{
					background-position:0 -12px;
				}
			}
		}
	}
}