.object_detail

{
	font-family: Arial;
	width: 100%;
	.object_title{
		border-bottom: 1px solid #2C9C36;
		margin-bottom: 20px;
		padding-bottom: 12px;
		position: relative;
		
		.print_version{
			background: url(asset-path("print.png")) no-repeat scroll right 11px transparent;
			color: #898989;
			cursor: pointer;
			font-size: 14px;
			padding-right: 28px;
			position: absolute;
			right: 0;
			text-decoration: underline;
			top: 6px;
		}
		.print_version:hover{
			text-decoration: none;
		}
	}
	h3
	{
	color: #434343;
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 4px;
		span
		{
			color: #299a3f;
		}
	}

	.left
	{
		float: left;
		display: inline-block;
		width: 50%;
		.title
		{
		color: #2C9C36;
		font-size: 22px;
		padding-bottom: 16px;
		}
		.line
		{
		   clear: both;
			color: #898989;
			height: auto;
			margin-bottom: 6px;
			overflow: hidden;
			.label_detail
			{
			border-bottom: 1px dashed;
			float: left;
			position: relative;
			width: 320px;
				span{
					background: none repeat scroll 0 0 #FFFFFF;
					bottom: -6px;
					padding-right: 3px;
					position: relative;
				}
				
			}
			.value
			{
			float: left;
			margin-left: 19px;
			margin-top: 6px;			
			}
		}
		.extra_descr{
			margin-top: 22px;
			.title
				{
					padding-bottom: 12px;
				}	
			.desc
			{
				color: #898989;
				font-size: 15px;
				line-height: 22px;
			}				
		}

	}
	.right
	{
		float: right;
		float: right;
		width: 488px;
		.photo_big
		{
		
			background: #ccc;
			height: 341px;
			width: 488px;
				img{
					height: 341px;
					width: 488px;
				}
		}

		.photos_mini{
			height: 86px;
			margin-top: 25px;
			overflow: hidden;
			position: relative;		
		}
		
	} 

	.personal_detail
	  {		
		  border-top: 1px solid #2C9C36;
			height: auto;
			margin-top: 24px;
			overflow: hidden;
			padding-bottom: 36px;
			padding-top: 30px;
			.title{
				color: #2C9C36;
				font-size: 22px;
				padding-bottom: 22px;				
			}
		 .avatar
		 {
		 	
			  background: url(asset-path("PDavatar.png")) no-repeat scroll 0 bottom transparent;
				float: left;
				height: 116px;
				margin-left: 2px;
				margin-top: 2px;
				overflow: hidden;
				padding: 2px;
				position: relative;
				width: 116px;
				z-index: 2;
				img{
					height: 116px;
					position: relative;
					width: 116px;
					z-index: 1;	
				}
		 
		 }
		 .informations
		 {
			float: left;
			font-family: "Arial";
			margin-left: 45px;
			width: 305px;
		 	.fio
		 	{
				color: #515151;
				font-size: 20px;
				margin-bottom: 7px;
				margin-top: 1px;
		 	}
		 	.position
		 	{
				color: #878787;
				font-size: 16px;
				margin-bottom: 30px;
		 	}
		 	.phone
		 	{
			  background: url(asset-path("PDcont.png")) no-repeat scroll 0 0 transparent;
				color: #2C2C2C;
				font-size: 16px;
				margin-bottom: 3px;
				padding-left: 28px;
		 	}
		 	.email
		 	{
			  background: url(asset-path("PDcont.png")) no-repeat scroll 0 -30px transparent;
				color: #2C2C2C;
				font-size: 16px;
				padding-left: 28px;
				text-decoration: underline;
		 	}
		 }
	 } 
} 