.pdf
{
	.new, .edit
	{
		label
		{
			float: left;
			font-size: 16px;
			font-weight: bold;
			width: 100px;
		}
		input[type=text]
		{
			width: 700px;
		}
	}
	.index
	{
		ul
		{
			list-style: decimal;
			li
			{
				line-height: 25px;
			}
		}
	}
	.site_index
	{
		ul
		{
			list-style: decimal;
			li
			{
				a
				{
					color: #269651;
					text-decoration: none;
				}
			}
		}
	}
}