.personal
{
	width: 890px;
	td
	{
		width: 40%;
	 	padding-left: 30px;
	 	// width: 45%;	
	 	padding-left: 0;
	 	margin-left: 0;
	 	label
	 	{
	 		font-weight: bold;
	 		display: inline-block;
	 		padding-right: 10px;
	 		vertical-align: middle;
	 		width: 200px;
	 	}
	 	.field
	 	{
	 		// padding-left: 30px;
	 	}
	 	input[type=date], input[type=text]
	 	{
	 		width: 220px;
	 	}
	 	.check_radio_box_labels
  	{
  		width: inherit;
  		font-weight: normal;
  		padding-top: 7px;
  		padding-left: 5px;
  		
  	}
  }
}
.personal_index
{
	width: 890px;
	th
	{
		text-align: center;
		background: #008000;
		color: #D6EB00;
		font-weight: normal;
		font-size: 14px;	
	}
	td
	{
		border: 1px solid  #85AD96; 	
		text-align: center;
		font-size: 14px;
		// height: 30px;		
	}
	.name
	{
			width: 350px;
	}
	.agreement
	{
		font-size: 10px;
		color: #AA0101;
	}
}
.admin_edit
{
	.image
	{
		width: 100%;
		text-align: center;		
	}
}