// new 
.sale_object
{
	input[type=text] { height: 33px; }
	width: 890px;
	td
	{
		width: 40%;
	 	padding-left: 30px;
	 	// width: 45%;	
	 	padding-left: 0;
	 	margin-left: 0;
	 	label
	 	{
	 		font-weight: bold;
	 		display: inline-block;
	 		// padding-right: 10px;
	 		vertical-align: middle;
	 		width: 27%;
	 	}
	 	.field
	 	{
	 		padding-left: 30px;
	 	}
	 	input[type=date], input[type=text]
	 	{
	 		width: 220px;
	 	}
	 	select
	 	{
	 		width: 220px;
	 	}
	 	.nesw
	 	{
	 		display: none;
	 		// width: 200px;
	 		// height: 200px;
	 		// border: 1px solid #ccc;
	 		float: right;
	 		// margin-right: 110px;
	 		.line
	 		{
	 			width: 55px;
	 			display: inline-block;
	 			input
	 			{
	 				display: inline-block;
	 			}
	 			span
	 			{
	 				margin-left: 5px;
	 				display: inline-block;
	 				font-weight: bold;
	 			}
	 		}
	 		
	 	}
  }
  .commerc
  {
  	display: none;
  }
}
.block_head
{
	background: #008000;
	color: #D6EB00;
	text-align: left;
	font-weight: bold;
	border-radius: 5px;
	padding-left: 10px;
	padding-top: 5px;
	height: 25px;
	
}
// index
.sale_object_index
{
	width: 890px;
	th
	{
		text-align: center;
		background: #008000;
		color: #D6EB00;
		font-weight: normal;
		font-size: 14px;	
	}
	td
	{
		border: 1px solid  #85AD96; 	
		text-align: center;
		font-size: 14px;
		// height: 30px;		
	}
	.name
	{
			width: 350px;
	}
	.agreement
	{
		font-size: 10px;
		color: #AA0101;
	}
}
.curr_link
	{
		font-size: 16px;
		color: #000;
		text-decoration: none;	
	}
	.avans, .sold, .expired
	{
		font-size: 30px;
		font-weight: bold;
		color: #EE3B3B;
		padding-bottom: 10px;
	}
#find_sale_object
{
	width: 750px;
	form
	{
		border: 1px solid #CFCFCF;
		padding: 15px;
		border-radius: 5px;
		background: #008000;
		display: none;
		label
		{
			color: #D6EB00;
		}
	}
	p
	{
		font-size: 16px;
		font-weight: bold;
		cursor: pointer;
		color: #008000;
	}
	.submit
	{
		text-align: right;
		input
		{
			border: none;
			border-radius: 4px;
			background: #D6EB00;
			color: #008000;
			font-weight: bold;
		}
	}
}		