.search
{
	background: url(asset-path('search_bg.png'));
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;	

	padding: 10px 12px;
  	width: 667px;
	form
	{
		margin: 0;
	}
	#row1, #row2, #row3, #row4 
	{
		overflow: hidden;
	}
	.block
	{
		float: left;
		margin-right: 20px;

		label
		{			
			color: #FFFFFF;
			font-family: arial;
			font-size: 14px;
			line-height: 17px;
		}
		.search_form_offer
		{
			width: 50px;
		}
		
		select
		{
			border-color: none;
			border-radius: 3px; 
			width: 195px;
			height: 32px;
			box-shadow: 4px 4px 10px #828282;
			 -moz-box-shadow: 4px 4px 10px #828282;
			 -webkit-box-shadow: 4px 4px 10px #828282;
			 -o-box-shadow: 4px 4px 10px #828282;
			// background: url(asset-path('select_bg.jpg')) repeat-x;
			color: #2C8335;
    		-moz-appearance: button !important;
    		-webkit-appearance: none;    		
    		
    			text-indent: 0.01px;
    			text-overflow: '';

    		background: transparent;
    		padding-top: 0;
    
		}
		.ff
    	{
    		overflow: hidden;
    	}
    	.ff_select
    	{
    		width: 210px;
    	}

		.custom_arrow
		{
			border: none;
    		border-radius: 3px;
    		
    		background: url(asset-path('select_custom_arrow.png')) no-repeat 170px 14px, url(asset-path('select_bg.jpg')) repeat-x;
    		background-position-x: 170px; 
    		width: 195px;

    	  	.offer
			{
				background: url(asset-path('select_custom_arrow.png')) no-repeat 170px 14px #E4EB1D;
				border: none;
				font-weight: bold;
			} 
    		
		}
		#search_form_square_from, #search_form_square_to
		{
			width: 60px;
			margin-top: 8px;
			height: 22px;
			   border: 1px solid #fff;
		}
		#search_form_price_from, #search_form_price_to
		{
			width: 100px;
			margin-top: 8px;
			   border: 1px solid #fff;
		}
		#square_from, #square_to, #price_from, #price_to
		{
			width: 100px;
		}
		
		.checked
		{

			background: #299A40;
			color: #69BF42;
			// background: url(asset-path('buttons_bg.png'));
			//  box-shadow: 0 0 1px #828282;
			//  -moz-box-shadow: 0 0 1px #828282;
			//  -webkit-box-shadow: 0 0 1px #828282;
			//  -o-box-shadow: 0 0 1px #828282;
			//  -ms-box-shadow: 0 0 1px #828282;
			//  ms-box-shadow: 0 0 1px #828282;

			// color: #1B812E;

			// z-index: 2;

		}


	}
	.rooms
		{	
			float: left;
			width: 250px;
			color: #F7FE22;	
			div img
			{
				float: left;	
				margin-top: 1px;		
			}
			label.custom-radio input
			{
			   display: none;
			}
			label.custom-radio input+div{
			  content: "\a";
			  /*background: green;*/
			  //border: 1px solid #E4EB1D;
			  box-shadow: 1px 0px 5px #E4EB1D;
				-moz-box-shadow: 1px 0px 5px #E4EB1D;
				-webkit-box-shadow: 1px 0px 5px #E4EB1D;
				-o-box-shadow: 1px 0px 5px #E4EB1D;
			  border-radius: 2px;
			  width: 12px;
			  height: 12px;
			  display: inline-block;
			  margin-right: 5px;
			  background: #418D54;

			}
			label.custom-radio input:checked+div
			{
			  background: #E4EB1D;
			}
			label
			{	
			  margin-right: 10px;			
			  float: left;
			}
		}
		.new_or_secondhands
		{
			float: left;
			width: 250px;
			color: #F7FE22;	
			div img
			{
				float: left;	
				margin-top: 1px;		
			}
			label.custom-radio input
			{
			   display: none;
			}
			label.custom-radio input+div{
			  content: "\a";
			  box-shadow: 1px 0px 5px #E4EB1D;
				-moz-box-shadow: 1px 0px 5px #E4EB1D;
				-webkit-box-shadow: 1px 0px 5px #E4EB1D;
				-o-box-shadow: 1px 0px 5px #E4EB1D;
			  border-radius: 2px;
			  width: 12px;
			  height: 12px;
			  display: inline-block;
			  margin-right: 5px;
			  background: #418D54;

			}
			label.custom-radio input:checked+div
			{
			  background: #E4EB1D;
			}
			label
			{	
			  margin-right: 10px;			
			  float: left;
			}
		}

		.price_block
		{
			margin-left: 97px;
			input
			{
				background: transparent;
				border: 1px solid #E4EB1D !important;	
				border-radius: 2px;
				color: #fff;
				&:focus
				{
					box-shadow: 1px 0px 10px #E4EB1D;
						-moz-box-shadow: 1px 0px 10px #E4EB1D;
						-webkit-box-shadow: 1px 0px 10px #E4EB1D;
						-o-box-shadow: 1px 0px 10px #E4EB1D;						
					background: url(asset-path('input_bg.jpg')) repeat-x;
					background-size: 10px;	
				}
			}
			span
			{
				color: #fff;
				padding-right: 10px;
				padding-left: 10px;
				font-weight: bold;
			}
		}
		.square_block
		{
			
			input
			{
				background: transparent;
				border: 1px solid #E4EB1D !important;	
				border-radius: 2px;
				color: #fff;
				&:focus
				{
					box-shadow: 1px 0px 10px #E4EB1D;
						-moz-box-shadow: 1px 0px 10px #E4EB1D;
						-webkit-box-shadow: 1px 0px 10px #E4EB1D;
						-o-box-shadow: 1px 0px 10px #E4EB1D;						
					background: url(asset-path('input_bg.jpg')) repeat-x;
					background-size: 10px;	
				}
			}
			span
			{
				color: #fff;
				padding-right: 10px;
				padding-left: 10px;
				font-weight: bold;
			}
		}
		
		

		#param_submit
		{
			background: url(asset-path('buttons_bg.png'));
			border: medium none;
			box-shadow: 4px 4px 10px #828282;
			-moz-box-shadow: 4px 4px 10px #828282;
			-webkit-box-shadow: 4px 4px 10px #828282;
			-o-box-shadow: 4px 4px 10px #828282;
			clear: right;
			color: #3A8B2E;
			font-family: georgia;
			font-size: 18px;
			font-weight: bold;			
			//float: right;
			height: 32px;
			margin-top: 5px;
			text-shadow: 1px 0 1px #FFFFFF;
			width: 250px;

			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			-o-border-radius: 4px;
		}
		
		
	hr
	{
		width: 100%;
		border: none;
		height: 1px;
		background: none repeat scroll 0 0 #F7FE22;
		margin: 10px 0;
		clear: both;
	}
	.commerc
	{
		display: none;
	}



}
