.head_line
{
		height: 10px;
		overflow: hidden;
	img
	{
		position: absolute;
		top: 0 ;
		width: 100%;
		height: 10px;
	}
}
body{
	/*background: url("Kirsh_contacts_sotrudnik.jpg") no-repeat scroll center 0 transparent;*/
	font-family: "Georgia";
}

.clearer{
	float: none;
	clear: both;
	height: 0px;
	width: 0px;
}
.main
{
	width: 985px;
	margin: 0 auto;
	margin-top: -1px;

}
.head
{
	/*height: 191px;*/
	.logo
	{
		position: absolute;
		top: -10px;
		img
		{

		}
	}
	.adress
	{
    float: left;
    font-family: Georgia;
    margin-left: 205px;
    margin-right: 12px;
    margin-top: 20px;
    text-align: center;
 		span
		{
			color: #279B50;
			font-size: 18px;
			margin-left: 70px;
			a
			{
				border-bottom: 1px solid;
				color: #1489D4;
				font-style: italic;
				margin-left: 2px;
				padding-bottom: 0;
			}
			a:hover
			{
				border-bottom: 0px solid;
				text-decoration: none;
			}
		}

		.phone
		{
			color: #424242;
			font-size: 38px;
			font-weight: bold;
			line-height: 30px;
				span
					{
					bottom: 0;
					font-size: 18px;
					font-weight: normal;
					margin-right: 15px;
					margin-left: 0;
					position: relative;
					color: #424242;
					}
		}
		.adrs{
		   color: #279B50;
			font-size: 23px;
			line-height: 21px;
			//margin-left: 70px;
			margin-top: 23px;

				span{
					margin-left: 0;
					display: block;
					font-size: 16px;
					line-height: 35px;
				}
		}


	}
	.service
	{
		float: left;
		margin-left: 0px;
		margin-top: 32px;
		a
		{
			margin-right: 18px;
		}
		a:hover
		{

		}
	}
  .flat-question
  {
		width: 193px;
		height: 186px;
		float: left;
		position: relative;
		background: url(asset-path("flat-question.png")) no-repeat scroll center top transparent;
	}
	.flat-question a
  {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.news
	{
		float: right;
		width: 265px;
		height: 141px;
		margin-bottom: 20px;
		.title
		{
			padding: 0 3px;
			margin-bottom: 12px;
			span
			{
				background: none repeat scroll 0 0 #FFF200;
				color: #1C1C1C;
				font-family: Georgia;
				font-size: 20px;
				padding: 0 5px 4px;

			}
			a
			{
			color: #959595;
			font-size: 13px;
			font-style: italic;
			margin-left: 40px;
			text-decoration: underline;
			text-transform: lowercase;
			}
		}
		.news_text
		{
				font-family: georgia;
				height: auto;
				margin-bottom: 6px;
				overflow: hidden;
				padding-left: 13px;
			div
			{
				color: #393939;
				float: left;
				width: 117px;
				font-size: 12px;
			}
			a
			{
				color: #1489D4;
				display: block;
				float: left;
				font-size: 14px;
				text-align: left;
				text-decoration: underline;
				// width: 135px;
				// height: 20px;
				overflow: hidden;
				// text-transform: lowercase;
				font-style: italic;
				&:hover
				{
					text-decoration: none;
				}
			}
		}
	}

	.second_level
	{
		width: 100%;
		clear: both;

		.menu
		{
			margin-right: 0;

			text-align: right;
			height: 50px;
				ul{
				   float: right;
					list-style: none outside none;
					margin: 0;
					height: 100%;
						li{
						float: left;
						margin-top: 7px;
						position: relative;
						// z-index: 200;
						}
						li:hover{
							z-index: 3;
						}

				}
			a,.service_link,.partners_link
			{
				color: #00943D;
				padding: 6px 25px;
				font-size: 18px;
				display: block;
						position: relative;
						z-index: 2;

			}
			.partners_link:hover
			{
				text-decoration: underline;
			}
			.last a{
					padding-right: 0;
				}
			.last a.active{
				padding: 6px 9px;
			}
			.slider_menu_service
			{

        cursor: pointer;
				.slide_links{
				    left: -13px;
					position: absolute;
					top: 26px;
					display: none;
				}
				.lwrap
				{
					zoom: 1;

					background: linear-gradient(#2EBB69, #6EC848) repeat scroll 0 0 transparent;
					background: -moz-linear-gradient(#2EBB69, #6EC848) repeat scroll 0 0 transparent;
					background: -webkit-linear-gradient(#2EBB69, #6EC848) repeat scroll 0 0 transparent;
					background: -o-linear-gradient(#2EBB69, #6EC848) repeat scroll 0 0 transparent;

					background: -ms-linear-gradient(top, #2EBB69 0%, #6EC848 100%); /* IE9 */
					filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#2EBB69', EndColorStr='#6EC848'); /* IE6,IE7 */
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2EBB69', EndColorStr='#6EC848')"; /* IE8 */


						border-radius: 5px 5px 0px 0px;
						-moz-border-radius: 5px 5px 0px 0px;
						-webkit-border-radius: 5px 5px 0px 0px;
						-o-border-radius: 5px 5px 0px 0px;
						-ms-border-radius: 5px 5px 0px 0px;
						ms-border-radius: 5px 5px 0px 0px;

					left: 0;
					padding-bottom: 4px;
					padding-top: 30px;
					position: relative;
					text-align: left;
					top: -27px;

					a
					{
						text-decoration: underline;
						font-size: 14px;
						color: #fff;
						font-style: italic;
						margin-top: 5px;
						display: block;
						padding: 0 20px;
						width: 97px;
					}
					a:hover
					{
						text-decoration: none;
					}
				}
				.triangle{
				  background: url(asset-path("triangle.png")) no-repeat scroll center bottom transparent;
					bottom: 27px;
					height: 30px;
					position: relative;
					width: 137px;
				}

			}

				.slider_menu_service:hover
			{


					.service_link{
						color: #fff200;
						text-decoration: none;
						z-index: 2;
						background: none;

					}
					.slide_links{
						display: block;
					}
			}

			.slider_menu_partner
			{
        cursor: pointer;

				.slide_links{
				    left: -13px;
					position: absolute;
					top: 26px;
					display: none;
				}
				.lwrap
				{

					zoom: 1;
					background: linear-gradient(#2EBB69, #6EC848) repeat scroll 0 0 transparent;
					background: -moz-linear-gradient(#2EBB69, #6EC848) repeat scroll 0 0 transparent;
					background: -webkit-linear-gradient(#2EBB69, #6EC848) repeat scroll 0 0 transparent;
					background: -o-linear-gradient(#2EBB69, #6EC848) repeat scroll 0 0 transparent;
					background: -ms-linear-gradient(top, #2EBB69 0%, #6EC848 100%); /* IE9 */
					filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#2EBB69', EndColorStr='#6EC848'); /* IE6,IE7 */
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2EBB69', EndColorStr='#6EC848')"; /* IE8 */
						border-radius: 5px 5px 0px 0px;
						-moz-border-radius: 5px 5px 0px 0px;
						-webkit-border-radius: 5px 5px 0px 0px;
						-o-border-radius: 5px 5px 0px 0px;
						-ms-border-radius: 5px 5px 0px 0px;
						ms-border-radius: 5px 5px 0px 0px;
					left: 0;
					padding-bottom: 4px;
					padding-top: 30px;
					position: relative;
					text-align: left;
					top: -27px;

					a
					{
						text-decoration: underline;
						font-size: 14px;
						color: #fff;
						font-style: italic;
						margin-top: 5px;
						display: block;
						padding: 0 20px;
						width: 97px;
					}

					a:hover
					{
						text-decoration: none;
					}

				}
				.triangle{
				  background: url(asset-path("triangle.png")) no-repeat scroll center bottom transparent;
					bottom: 27px;
					height: 30px;
					position: relative;
					width: 137px;
				}

			}
				.slider_menu_partner:hover
			{
					.partners_link{
						color: #fff200;
						text-decoration: none;
						z-index: 2;
						background: none;
					}
					.slide_links{
						display: block;
					}
			}
			.link
			{
				 position: relative;
				 z-index: 2;
				 text-align: center;

			}

			.active
			{
				background: #00923F;
				border-radius: 2px;
				-moz-border-radius: 2px;
				-o-border-radius: 2px;
				-webkit-border-radius: 2px;
				-ms-border-radius: 2px;
				ms-border-radius: 2px;
				behavior: url(asset-path('PIE.htc'));
				color: #FFEE0A;
			}
			.active:hover,
			.cactive
			{
				text-decoration: none !important;

			}
		}
	}
}
.content_site
{
	border: none;
	margin-left: 0;
	position: relative;
	z-index: 1;
	height: auto;
	overflow:hidden;

	.yield
	{

		width: 100%;
		vertical-align: top;
		margin: 0;
		margin: 0;
		padding: 0;

		height: auto;
		overflow: hidden;
	}
	.left_block
	{
		float: left;
		width: 700px;
		a{
			color: #1489D4;
			font-style: italic;
			font-family: georgia;
			text-decoration: underline;
		}
		p{
			margin-bottom: 18px;
		}
		.greenp{
			background: url(asset-path("greenp.png")) no-repeat scroll left top #46B97C;
			margin-left: 20px;
			padding-left: 5px;
				p{
					background: none repeat scroll 0 0 #FFFFFF;
					padding-left: 25px;
					color: #299A3F;
					font: italic 18px/26px Georgia;
				}
			}
		ul{
			margin-left: 15px;
		}
		ul li{
		   background: url(asset-path("hot.png")) no-repeat scroll 0 5px transparent;
			line-height: 24px;
			list-style: none outside none;
			margin-bottom: 5px;
			padding-left: 25px;
		}

		.pagination	{
			text-align: center;
			ul{
				margin: 0 auto;

				li{
					display: inline;
					background: none;
					padding: 0;
					a{
						text-decoration: none;
							background: none repeat scroll 0 0 #299A3E;
							border: medium none;
							border-radius: 3px 3px 3px 3px;
							-moz-border-radius: 3px 3px 3px 3px;
							-webkit-border-radius: 3px 3px 3px 3px;
							-o-border-radius: 3px 3px 3px 3px;
							-ms-border-radius: 3px 3px 3px 3px;
							ms-border-radius: 3px 3px 3px 3px;

							behavior: url(asset-path('PIE.htc'));
							color: #B3D447;
							font-weight: bold;
							margin-right: 9px;
							padding: 6px 12px;
					}
				}
				li.active{

					a{
						background: none repeat scroll 0 0 #F8F700;
						color: #299A3E;
					}
				}
			}

		}
		.test
		{
			h4
			{
				color: #104712;
			}
			p
			{
				color: #0E6D1F;
				font-size: 15px;
			}
			.field
			{
				margin-bottom: 20px;
				.field_with_errors
				{
					display: inline;
				}
				.fio
				{
					width: 400px;
				}
				.email
				{
					width: 300px;
				}
				.phone
				{
					width: 200px;
				}
				label
				{
					font-size: 16px;
					font-weight: bold;
					color: #104712;
				}
				select
				{
					font-size: 16px;
					width: auto;
					color: #11772C;
				}
				span
				{
					color: #114A12;
					font-size: 20px;
					margin-left: 5px;
				}
			}
		}
		.test_result
		{
			p
			{
				color: #0C7B2B;
				font-size: 16px;
			}
		}
	}
	.right_block
	{
		width: 232px;
		margin-bottom: 5px;
		float: right;
		vertical-align: top;
		.banners
		{
			.banner1
			{
				height: 340px;
				margin-bottom: 37px;

			}
			.banner2
			{
				height: 340px;
				margin-bottom: 20px;
			}

		}
		.functional_buttons
		{
			.test
			{
				width: 100%;
				margin-top: 100px;
			}
			.ask
			{

				width: 100%;
				margin-top: 20px;
				margin-bottom: 20px;
			}
			.request
			{
				width: 100%;

			}
		}
	}
	.breadcrambs
	{
		font: 14px Arial;
		color: #1c8230;
		margin-bottom: 15px;
		a
		{
			color: #a2a2a2;
			text-decoration: underline;
		}
		span
		{
			background: url(asset-path('greenArrow.png')) center 7px no-repeat;
			padding: 0 12px;
		}
		.current_page
		{
			display: inline;
			width: auto;
		}
		.nactive
		{
			color: #a2a2a2;
			text-decoration: underline;
			display: inline;
		}
	}
	clear: left;
	.map_site
	{
		font-family: "Arial";
		.title
		{
			color: #1E993F;
			font-size: 26px;
			float: left;
		}
		.print_version
		{
			background: url(asset-path("print.png")) no-repeat scroll right transparent;

			cursor: pointer;
			font-size: 14px;
			padding-right: 24px;
			margin-top: 2px;
			float: right;
			width: 127px;
			a
			{
				text-decoration: underline;
				color: #898989;
				&:hover
				{
					text-decoration: none;
				}
			}
		}
		.print_version_cur
		{
			background: url(asset-path("print.png")) no-repeat scroll right transparent;

			cursor: pointer;
			font-size: 14px;

			margin-top: 2px;
			float: right;
			width: 70px;
			a
			{
				text-decoration: underline;
				color: #898989;
				&:hover
				{
					text-decoration: none;
				}
			}
		}
		hr
		{
			background: #289A42;
			width: 100%;
			height: 1px;
		}
		ul
		{
			list-style: none;
			li
			{
				line-height: 30px;
				font-size: 15px;
			}
			a
			{
				color: #888888;
				&:hover
				{
					color: #1E993F;
				}
			}
		}
		p
		{
			font-size: 20px;
			color: #1E993F;
			a
			{
				color: #1E993F;
			}
		}
	}
}

.footer
{
	position: relative;
   background: url(asset-path("footerBg.png")) no-repeat scroll 0 0 transparent;
    height: 140px;
    margin-left: 0;
    margin-top: 15px;
    padding-left: 125px;
    padding-top: 45px;


	.footer_adress
	{
	float: left;
    width: 240px;
		.phone
		{
			color: #363636;
			font-size: 30px;
			line-height: 17px;
			margin-bottom: 9px;
			span
			{
				bottom: 3px;
				color: #239B54;
				font-size: 24px;
				font-weight: normal;
				margin-right: 10px;
				position: relative;
			}
		}
		.adrs
		{
		 color: #279B50;
			font-size: 18px;
			line-height: 21px;
			margin-top: 12px;
			span{
				 display: block;
				font-size: 15px;
				line-height: 32px;
				margin-left: 0;
			}
			a
			{
			  border-bottom: 1px solid;
				color: #1489D4;
				font-style: italic;
				margin-left: 2px;
				padding-bottom: 0;
				&:hover
				{
					border-bottom: 0px solid;
					text-decoration: none;
				}
			}
		}
	}
	.footer_urls
	{

		float: right;
		a
		{
			color: #9b9a9a;
			margin-left: 30px;
		   font-family: Arial;
			font-size: 14px;
			line-height: 12px;
		}
	}
	.footer_social_buttons
	{
	  float: left;
		margin-left: 72px;
		margin-top: 38px;

		a
		{
			margin-left: 8px;
		}
	}
		/*** HTDG ***/
		#htdg {
			position: absolute;
			width: 50px;
			height: 20px;
			cursor: help;
			bottom: 0;
			right: 10px;
		}

		#htdg img{
			height: 20px;
			width: 50px;
		}

		.about_htdg {
			display: none;
			margin: 0px;
			padding: 0px;
			position: absolute;
			right: 2px;
			bottom: 0px;
			width: 444px;
			height: 154px;
			z-index: 3000;
			color: #fff;
			font-family: 'Tahoma';
		}

		#a_bg img {
			position:absolute;
			top: 0px;
			left: 0px;
		}

		#a_bg img {
			background:url(asset-path('about_htdg.png'));
			-background:none;
			-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=http://spar-volga.ru/templates/spar/images/about_htdg.png,sizingMethod=crop);
		}


		#a_htdg {
			position:absolute;
			right: 28px;
			top: 20px;
			z-index: 4000;
		}

		#a_htdg a, #a_htdg a:link , #a_htdg a:visited {
			color: #fff;
			text-decoration: underline;
			font: 11px 'Tahoma';
		}

		#a_htdg a:hover {
			text-decoration: none;
		}

		#a_passport {
			position:absolute;
			right: 242px;
			top: 51px;
			font-size: 12px;
			font-weight: bold;
		}

		#a_infoz {
			position:absolute;
			right: 242px;
			top: 81px;
			font-size: 9px;
			text-align: right;
			line-height: 10px;
		}

		#a_infor {
			position:absolute;
			right: 27px;
			top: 81px;
			font-size: 9px;
			line-height: 10px;
		}

		#a_infor a, #a_infor a:link, #a_infor a:visited {
			color: #fff;
			text-decoration: none;
			font: 9px 'Tahoma';
		}
		#a_infor a:hover {
			text-decoration: underline;
		}

		#a_htdg, #a_passport, #a_infoz, #a_infor {
			z-index: 5000;
		}

		/*** end of HTDG ***/
}
.map
{
   border: 1px solid #969696;
    height: 396px;
    overflow: hidden;
    width: 689px;
}
.text_block
{
	table
	{
		width: 100%;
	}
	margin-top: 44px;
	h2
	{
    color: #3E3E3E;
    font-family: georgia;
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    margin-bottom: 24px;
    margin-top: 0;
    padding-right: 5px;
    text-align: justify;
    vertical-align: top;

	}
	td
	{
	vertical-align: top;
   color: #818181;
    font: 14px/18px Arial;
	}
}
#control
{
	display: none;
}
.consultants
{
	position: fixed;
	right: 0;
	top: 40%;
	z-index: 2;
	height: 220px;
	.slide_but
	{
		float: left;
		margin-right: -1px;
	}
	.body
	{
		width: 0;
		height: 338px;
		background: url(asset-path("consultant_bg.png"));
		float: right;
		.consult_head
		{
			display: none;
			height: 130px;
			.logo
			{
				margin-left: 20px;
				position: relative;
				bottom: 5px;
				float: left;
			}
			.title
			{
				color: #FFF200;
				font-size: 19px;
				font-style: italic;
				padding-left: 8px;
				padding-top: 25px;
				float: right;
				width: 308px;
			}
		}

		.consult_form
		{
			display: none;
			height: 208px;
			form
			{
				height: inherit;
			}
			.field
			{
				label
				{
					color: #fff;
					margin-right: 25px;
					padding-top: 5px;
					float: right;
				}
				input
				{
					float: right;
					margin-right: 10px;
					width: 263px;
					height: 22px;
				}
				textarea
				{
					float: right;
					margin-right: 10px;
					width: 263px;
				}
				clear: right;
			}
			.submit
				{
					background: url(asset-path("consultant_but.png"));
					width: 126px;
					height: 35px;
					border: none;
					border-radius: 2px;
					color: #1C8130;
					font-style: italic;
					font-weight: bold;
					margin-left: 177px;
					margin-top: 3px;
					float: left;
					text-shadow: 1px 1px 0px #fff;
				}
				.arrow
				{
					float: right;
					.text
					{
						float: left;
						color: #1C8130;
						font-style: italic;
						font-weight: bold;
						text-shadow: 1px 1px 0px #fff;
						cursor: pointer;
						margin-right: 7px;
					}
					.arrow_img
					{
						float: right;
					}

				}
		}
	}
}
.dark-layer
{
  background: #000;
  opacity: 0.5;
  width: 100%;
  height: 1900px;
  z-index: 3;
  position: absolute;
}
.dialog
{
  display: none;
  background: url(asset-path('Kirsh_glavnaya.png')) no-repeat #fff;
  font-family: Arial;
  position: absolute;
  //top: 300px;
  right: 250px;
  width: 836px;
  height: 477px;
  top: 345px;
  
  //border: 1px solid #000;
  box-shadow: 4px 10px 50px #000;
  z-index: 9999;
  // padding-top: 40px;
  // padding-bottom: 40px;
  // padding-right: 30px;
  // padding-left: 30px;
  .title
  {
    text-align: center;
    color: #349C41;
    line-height: 30px;
    margin-top: 80px;
  }
  .buttons
  {
    text-align: center;
    button
    {
      padding: 15px 0 15px 0;
      width: 290px;
      background: url(asset-path('dialog_button_background_inactive.jpg')) repeat-x;
      border: 1px solid #ccc;
      border-radius: 3px;
      color: #fff;
      font-size: 18px;
      &:hover
      {
        background: url(asset-path('dialog_button_background_active.png')) repeat-x #AEE045;
      }
    }
    span
    {
      margin: 0 35px 0 35px;
    }
    .active
    {
      background: url(asset-path('dialog_button_background_active.jpg')) repeat-x #AEE045;
    }
  }
  .button
  {
  	text-align: center;
    button
    {
      padding: 15px 0 15px 0;
      margin-top: 25px;
      width: 290px;
      background: url(asset-path('dialog_button_background_inactive.jpg')) repeat-x;
      border: 1px solid #ccc;
      border-radius: 3px;
      color: #fff;
      font-size: 18px;
      opacity: 1;
      &:hover
      {
        background: url(asset-path('dialog_button_background_active.png')) repeat-x #AEE045;
      }
    }    
    // .active
    // {
    //   background: url(asset-path('dialog_button_background_active.jpg')) repeat-x #AEE045;
    // }
    .close_btn
    {
    	font-weight: normal;
    }
  }
  .text
  {
    line-height:45px;
    text-align: center;
    font-size: 30px;
    color: #5D5D5D;
    margin-top: 20px;
    span
    {
      font-size: 65px;
      color: #37973D;
    }
  }
}

