.title Добавление регионов
=content_for :links do
 p=link_to "Назад", regions_path
 br
 p=link_to "Сохранить", "#", onclick: "$('form').submit()"  
=form_for @region do |f| 
 .field
  =f.label :name, "Регион"
  =f.text_field :name, style:"width: 40%"