-meta @id_page
=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 .current_page Тест

.left_block
 .test
  =render "test_errors"
  .title Тест: «Карьера в недвижимости»
  p Карьерный рост, дружный коллектив, высокий доход… Мечта? РЕАЛЬНОСТЬ! Девиз нашего агентства: «Все меняется. К лучшему!» Не бойтесь изменить свою жизнь!
  p Что же нужно, чтобы сделать карьеру в недвижимости?  
  p Для начала — ответить на несколько несложных вопросов:
  =form_for @test do |f|
   .field
    =f.label :question1, "№ 1. Вам больше подходит работа, предполагающая:"
    =f.select :question1, {"Только взаимодействие с людьми" => 1,"Работу и с людьми, и с документами" => 2, "Только работу с документами" => 0}
   .field
    =f.label :question2, "№ 2. Вам больше подходит работа:"
    =f.select :question2, {"Исключительно в офисе" => 0,"Связанная с передвижениями по городу" => 2, "Исключительно передвижения по городу" => 1}
   .field
    =f.label :question3, "№ 3. На перспективу ближайшего года вас устроит средний заработок:"
    =f.select :question3, {"10-15 тыс. рублей в месяц" => 0,"Хотя бы 30 тыс. рублей в месяц" => 1, "Более 50 тыс. рублей в месяц" => 2}
   .field
    =f.label :question4, "№ 4.Как вы относитесь к холодным звонкам:"
    =f.select :question4, {"Не приемлю их в своей работе" => 0,"Как к важной части работы" => 2, "А что это такое?" => 0}
   .field
    =f.label :question5, "№ 5. Оцените свое умение устанавливать контакт с незнакомыми людьми:"
    =f.select :question5, {"Сам(а) выступаю инициатором" => 2,"Откликаюсь на инициативу со стороны другого человека" => 0, "Мне сложно общаться с незнакомыми людьми" => 0}
   .field
    =f.label :question6, "№ 6. Сфера недвижимости вам интересна, т.к."
    =f.select :question6, {"Мне интересно продавать квартиры" => 2,"Я могу много заработать" => 1, "Еще не знаю точно, интересна ли она мне" => 2}
   h4 Введите свои данные 
   .field
    =f.label :fio, "ФИО"    
    =f.text_field :fio, class: 'fio'
    span *
   .field
    =f.label :email, "Email"
    =f.text_field :email, class: 'email'  
    span *
   .field
    =f.label :phone, "Телефон"
    =f.text_field :phone, class: 'phone'
    span *
   .field
    =button_tag "Ответить"