.search
 =form_for :search_form, url: {action: :search_request} do |f|
  #row1
   .block
    .custom_arrow
      =f.select :offer,{'Купить' => 3, 'Снять' => 4 }, {}, {class: 'offer'}
   .block
    .custom_arrow
      =f.select :region, @regions, selected: 'Пенза'
   .block.commerc
    .custom_arrow
      =f.select :district, @districts, {prompt: "Район"}, {class: 'commerc_district'}
  .clearer
  hr
  #row2
   .block
    =f.label :object, "Тип объекта"
    .custom_arrow
     =f.select :object , getTypeLived, {selected: "Квартира"},  { data:{commerc: getTypeCommercString}}
   .block.lived
    =f.label :district, "Район"
    .custom_arrow
     =f.select :district, @districts, {prompt: "Любой" }, {class: 'lived_district'}

   .block.lived.street
    =f.label :street, "Улица"
    .custom_arrow
     =f.select :street, @streets, {prompt: "Любая"}
  .clearer
  #row3
   .rooms
    =label_tag '1', {class: "custom-radio"}
     =f.check_box :rooms,{ id: 1, multiple: true}, '1',nil
     div
      img.galka src=''
     |1
    =label_tag '2', {class: "custom-radio"}
     =f.check_box :rooms,{id: 2, multiple: true}, '2',nil
     div
      img.galka src=''
     |2
    =label_tag '3', {class: "custom-radio"}
     =f.check_box :rooms,{id: 3, multiple: true}, '3',nil
     div
      img.galka src=''
     |3
    =label_tag '4', {class: "custom-radio"}
     =f.check_box :rooms,{id: 4, multiple: true}, '4',nil
     div
      img.galka src=''
     |4+ комнаят
    =f.check_box :rooms,{id: 5, multiple: true, style: 'display: none'}, '5',nil
    =f.check_box :rooms,{id: 6, multiple: true, style: 'display: none'}, '6',nil
    =f.check_box :rooms,{id: 7, multiple: true, style: 'display: none'}, '7',nil
    =f.check_box :rooms,{id: 8, multiple: true, style: 'display: none'}, '8',nil
    =f.check_box :rooms,{id: 9, multiple: true, style: 'display: none'}, '9',nil
    =f.check_box :rooms,{id: 10, multiple: true, style: 'display: none'}, '10',nil
   .new_or_secondhands
    =label_tag 'old', {class: "custom-radio"}
     =f.check_box :new_old, {id: 'old', multiple: true}, '0', nil
     div
      img.galka src=''
     |Вторичка
    =label_tag 'new', {class: "custom-radio"}
     =f.check_box :new_old, {id: 'new', multiple: true}, '1', nil
     div
      img.galka src=''
     |Новострой
  .clearer
  hr
  #row4
   .block class='square_block'
    =f.label :square_from, "Площадь. кв.м"
    =f.text_field :square_from, value: getMinSquare
    span-
    =f.text_field :square_to, value: getMaxSquare
   .block class='price_block'
    =f.label :price_from, "Цена. руб."
    =f.text_field :price_from, value: getMinPrice
    span-
    =f.text_field :price_to, value: getMaxPrice
  .clearer
  hr
   =f.submit "Начать поиск", id: 'param_submit'
  =hidden_field_tag 'search_form[request_type]', 1 
coffee:
 $(document).on "click", ".rooms #4", ->
  if $(@).is( ":checked" )
   $('.rooms #5, .rooms #6, .rooms #7, .rooms #8, .rooms #9, .rooms #10').attr('checked',true)
  else
   $('.rooms #5, .rooms #6, .rooms #7, .rooms #8, .rooms #9, .rooms #10').attr('checked',false)
 $(document).on 'change', '#search_form_region', ->
  request_type = $('#search_form_request_type').val() 
  if request_type == '1'
   if @.value != '1'
    $('.street').hide()
    $('#search_form_street').val('')
   else
    $('.street').show()