-meta @id_page
=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 .current_page= @about.nil? ? "" : @about.title.mb_chars.capitalize

.left_block
 .about 
  .title=@about.nil? ? "" : @about.title
  .desc=@about.nil? ? "" : @about.description.html_safe
