-meta @id_page
= javascript_include_tag "http://api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 .current_page Контакты
.contacts
 .adress_block
  .title Ждем вас по адресу:
  h3 Пенза<br/>ТРК "Суворовский", 2 этаж.
  p="e-mail:#{mail_to 'center@kirsh.ru'}".html_safe
  .phone 
   span="(8412) ".html_safe
   |99-00-99
  .title.rezhim Режим работы: 
  p Пн - Вс. с 9:00 до 20:00
 .map_block  
  #map style="width: 705px; height: 321px;"
 .clearer
 .personals  
  .title Наши сотрудники
  .line_1
   .cabinet_name 
    span Консультанты по недвижимости
   .scroll-wrap
    .prod-right onclick="movetoright('sotr1',8);return false;"
    .prod-left onclick="movetoleft('sotr1',8);return false;"
    .scroll-inner
     #sotr1
      =render partial: 'personals', collection: @consultants, as: :personal
  .line_2
   .cabinet_name 
    span Отдел новаций
   .scroll-wrap
    .prod-right onclick="movetoright('sotr2',8);return false;"
    .prod-left onclick="movetoleft('sotr2',8);return false;"
    .scroll-inner
     #sotr2
      =render partial: 'personals', collection: @inovations, as: :personal
  .line_3
   .cabinet_name 
    span Отдел коммерческой недвижимости
   .scroll-wrap
    .prod-right onclick="movetoright('sotr3',8);return false;"
    .prod-left onclick="movetoleft('sotr3',8);return false;"
    .scroll-inner
     #sotr3
      =render partial: 'personals', collection: @komerchs, as: :personal
  .line_4
   .cabinet_name
    span Административный состав
   .scroll-wrap
    .prod-right onclick="movetoright('sotr4',8);return false;"
    .prod-left onclick="movetoleft('sotr4',8);return false;"
    .scroll-inner
     #sotr4
      =render partial: 'personals', collection: @administrativs, as: :personal 
	   
 .personal_detail
  =image_tag "cross.png", id: "close"   
  .avatar
   =image_tag ""
  .informations
   .fio
   .position
   .birthday
   .phone
   .email
javascript:
 ymaps.ready(init);

 function init() {
    // Поиск координат центра Нижнего Новгорода.
    ymaps.geocode('Пенза, ул. Суворова, 144а', { results: 1 }).then(function (res) {
        // Выбираем первый результат геокодирования.
        var firstGeoObject = res.geoObjects.get(0),
        // Создаем карту с нужным центром.
            myMap = new ymaps.Map("map", {
                center: firstGeoObject.geometry.getCoordinates(),
                zoom: 17,
                behaviors: ['default', 'scrollZoom']
            });
            res.geoObjects.options.set('iconImageHref', "#{asset_path('map_label.png')}");
            res.geoObjects.options.set('iconImageSize', [32, 32]);                   
            myMap.geoObjects.add(res.geoObjects);
          
    }, function (err) {
        // Если геокодирование не удалось, сообщаем об ошибке.
        alert(err.message);
    });  
 }