-meta @id_page
=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 .current_page= @select_objects.nil? ? "" : @select_objects.title.mb_chars.capitalize
.left_block
 .franchasing
  .title= @select_objects.nil? ? "" : @select_objects.title
  .desc= @select_objects.nil? ? "" : @select_objects.description.html_safe
