- meta @id_page
= javascript_include_tag "http://api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU"
=render "layouts/banner"
=render "layouts/right_block"
=render "layouts/hot_offer"
.left_block
 =render "search"
 .map
  #map style="width: 100%; height: 100%;" data-adress_lived=@adress_lived data-adress_commerc=@adress_commerc
 .text_block
  table
   tr
    td
	 h2 Агентство недвижимости КИРШ
	 =image_tag "arrow_down.png"
    td
     =@text.description.html_safe unless @text.nil?
=content_for :dialog
 .dark-layer
 .dialog
  .close_dialog style='float:right; background: url(assets/uploadify-cancel.png) no-repeat; width: 14px; margin-right:10px; margin-top:7px; cursor: pointer;' &nbsp;
  .title
   |Выберите пожайлуста,
   br
   |какой объект недвижимости Вас интересует
  .buttons
   button.lived Жилая недвижимость
   span=image_tag 'dot.png'
   button.commerc Коммерческая недвижимость
  .text
   |Вас ждет более
   br
   span 1 000 500
   br
   |предложений
  .button 
   button.close_btn Ознакомиться с сайтом
=hidden_field_tag :dialog_value, 1   
javascript:
 function init() {
    // Поиск координат центра Нижнего Новгорода.
    ymaps.geocode('Пенза', { results: 1 }).then(function (res) {
        // Выбираем первый результат геокодирования.
        var firstGeoObject = res.geoObjects.get(0),
        // Создаем карту с нужным центром.
            myMap = new ymaps.Map("map", {
                center: firstGeoObject.geometry.getCoordinates(),
                zoom: 11,
                behaviors: ['default', 'scrollZoom']
            });
        if ($('#dialog_value').val() == '2')            
        {
          var adress = $('#map').attr('data-adress_commerc').split(';');
        }
        else
        {
          var adress = $('#map').attr('data-adress_lived').split(';');
        }
        console.log($('#dialog_value').val())
        for(line in adress)
        {

          i = 0;
          witout_id = adress[line].split(":")
          ymaps.geocode(witout_id[1] , {}).then(function (res)
          {
            var point  = res.geoObjects.get(0).geometry.getCoordinates()
            id_name = adress[i].split(":")
            var name = "<h4>"+id_name[1]+"</h4><br /><a href='http://kirsh.ru/sites/"+id_name[0]+"/object_detail'> Перейти к объекту</a>";
            myPlacemark1 = new ymaps.Placemark(point,
            {
                balloonContent: name
            },
            {
             iconImageHref: "#{asset_path('map_label.png')}",
             iconImageSize: [32, 32]
            })
            i++;
            myMap.geoObjects.add(myPlacemark1);
          });
        }
    }, function (err) {
        // Если геокодирование не удалось, сообщаем об ошибке.
        alert(err.message);
    });
 }
coffee:
 $(document).on "page:load ready",  ->
  $('.dialog').fadeIn('slow')
  $('html, body').animate({
       scrollTop: $(".dialog").offset().top-100
   }, 1000)
 $(document).on "click", ".dialog .close_dialog", ->
  $('.dark-layer').removeClass('dark-layer')
  $('.dialog').fadeOut('normal')  
  ymaps.ready(init)
 $(document).on "click", ".dialog .close_btn", ->
  $('.dark-layer').removeClass('dark-layer')
  $('.dialog').fadeOut('normal')  
  ymaps.ready(init)          
 $(document).on "click", ".dialog .buttons button", ->
  $('.dark-layer').removeClass('dark-layer')
  $('.dialog').fadeOut('normal')  
  ymaps.ready(init)  
 $(document).on "click", ".dialog .buttons .commerc", ->
  $('.commerc').show()
  $('.lived, #row3').hide()
  $('#dialog_value').val(2)
  #$('#search_form_request_type').val(1)
  commerc = $('#search_form_object').data('commerc')  
  select = $('#search_form_object')
  $('#search_form_request_type').val(2)
  commerc = commerc.split(',')
  select.html('')
  $(commerc).each (i, v) -> 
   select.append($("<option>", { value: v, html: v }));  
  select.css('width','350px');
  select.parent().css('width','350px');
  select.parent().css('background-position-x','325px');
 