-meta @id_page
=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 .current_page= @kredit.nil? ? "" : @kredit.title.mb_chars.capitalize
.left_block
 .foreign 
  .title= @kredit.nil? ? "" : @kredit.title
  .desc= @kredit.nil? ? "" : @kredit.description.html_safe 