-meta @id_page
=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp; 
 .current_page= @owner_komerch.nil? ? "" : @owner_komerch.title.mb_chars.capitalize
.left_block
 .zalog 
  .title= @owner_komerch.nil? ? "" : @owner_komerch.title
  .desc= @owner_komerch.nil? ? "" : @owner_komerch.description.html_safe