-meta @id_page
=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 .current_page Вопрос-ответ
.left_block
 =render 'error_messages'
 .question_form
  =form_for @question, url: {action: :question_answer_create} do |f|   
   .block
    =f.label :name, "Ваше имя: "
    =f.text_field :name, required: true  
    span *     	  
   .block
    =f.label :email, "E-mail: "
    =f.text_field :email, required: true  	 
    span *        
   .block
    =f.label :phone, "Ваш телефон:"
    =f.text_field :phone             
   .block
    =f.label :question, "Вопрос: "
    =f.text_area :question, rows: 10, required: true, style: "vertical-align:top"
	  span.ta *
   .block    
    =show_simple_captcha(:object=>"question", label: "Введите текст с изображения в текстовое поле:", image_style: "simply_green")  
	  span.ic *
   .block
    =f.submit "Задать вопрос", class: "submit"   
 .questions
  h4 Вопрос-ответ  
  =render partial: 'questions_answers', collection: @questions, as: :question  
 .see_all_questions="Посмотреть все вопросы"