-meta @id_page
=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 =link_to "Услуги", search_sites_path
 span &nbsp; 
 .current_page Оставить заявку
.left_block
 -unless @error.nil?
   #error_explanation    
    ul      
     li= @error
 .users_request  
  =form_for :request_form, url: {action: :send_request}  do |f|
   .block.ab 
    =button_tag "Снять", type: "button", class: "arenda", id: "arenda"    
    =button_tag "Купить", type: "button", class: "buy checked", id: "buy"
    =f.hidden_field :offer, value: 3      
   .block 
    =f.label :fio, "Ваше имя:"
    =f.text_field :fio, required: true    
	span *
   .block
    =f.label :email, "E-mail:"
    =f.text_field :email
   .block
    =f.label :phone, "Телефон:"
    =f.text_field :phone, required: true  
	span *
   .block
    =f.label :text, "Текст заявки:"
    =f.text_area :text, cols:  60, rows: 10, required: true  
	span.ta *
   .block
    .add_file
     =f.label :object, "Объект:"   
	 .file_wrap
	  span Прикрепить файл
      =f.file_field :object   
     .mes Разрешена загрузка файлов формата PNG, JPEG, не более 1 Мб
	 .sep
   .block align="center"    
    =show_simple_captcha(label: "Введите текст с изображения в текстовое поле:", image_style: "simply_green")
    span.ic *
   =f.submit 'Отправить заявку', class: "submit"