.yamail
 .logo=logo
 form method="post" action="https://passport.yandex.ru/for/kirsh.ru?mode=auth" 
  h3 Почта
  .label Логин:
  br
  input type="text" name="login" value="" tabindex="1"
  br
  .label Пароль:
  br
  input type="hidden" name="retpath" value="http://mail.yandex.ru/for/kirsh.ru"
  input type="password" name="passwd" value="" maxlength="100" tabindex="2" 
  br
  
  label for="a"
   input type="checkbox" name="twoweeks" id="a" value="yes" tabindex="4" запомнить меня
  input type="submit" name="In" value="Войти" tabindex="5"