-meta @id_page
=render "layouts/right_block"
-content_for :breadcrambs do
 =link_to "Главная", root_path
 span &nbsp;
 .nactive Услуги
 span &nbsp;
 .current_page= @zalog.nil? ? "" : @zalog.title.mb_chars.capitalize
.left_block
 .zalog 
  .title= @zalog.nil? ? "" : @zalog.title
  .desc= @zalog.nil? ? "" : @zalog.description.html_safe