#htdg
 =link_to image_tag("htdg.png", width: 40, height: 20), "http://htdev.ru", target: "_blank"
.about_htdg
 #a_htdg
  =link_to "Хочу такой сайт", "http://htdev.ru/feedback.html", target: "_blank"
 #a_passport Паспорт сайта
 #a_infoz 
  |Информация о заказчике:
  br 
  br
  |Агентство Недвижимости "КИРШ"
 #a_infor 
  |Информация о Разработчике: 
  br 
  br 
  |ООО &laquo;ХайТэк Девелопмент Групп&raquo; 
  br
  |Контактный телефон: +7 (8422) 67-60-70
  br
  |Адрес в сети Интернет:
  =link_to "www.htdev.ru", "http://htdev.ru/", target: "_blank"
 / #a_bg
  =image_tag("about_htdg.png", alt:"",width: 444, height: 154) 