ul
 li
  .link
   =link_to "О компании", about_sites_path, class: 'about_link'
 li
  .link.slider_menu_service
   .service_link Услуги
   .slide_links
    .lwrap
     =link_to "В продаже", search_sites_path(status: 3), id: "sl1"
     =link_to "В аренду", search_sites_path(status: 4), id: "sl2"
     =link_to "Оставить заявку", request_user_sites_path, id: "sl3"
     =link_to "Заявка на размещение объявления", request_advert_sites_path, id: "sl6"
     =link_to "Займы под залог недвижимости", zalog_sites_path, id: "sl4"
     =link_to "Срочный выкуп недвижимости", buyout_sites_path, id: "sl5"
     =link_to "Квартирный вопрос", site_index_papers_path, id: "sl7"
     =link_to "Подбор недвижимости", select_objects_path, id: "sl8"
    .triangle
 li
  .link.slider_menu_partner
   .partners_link Важно
   / =link_to "Партнерам", partners_sites_path, class: 'partners_link'
   .slide_links
    .lwrap
     /=link_to "Застройщикам", developer_sites_path, id: "pl1"
     /=link_to "Кредитным организациям", kredit_sites_path, id: "pl2"
     /=link_to "Агенствам недвижимости", agents_sites_path, id: "pl3"
     /=link_to "Собственникам коммерческой недвижимости", owner_komerch_sites_path, id: "pl4"
     =link_to "Образцы договоров", document_example_sites_path, id: "pl1"
     =link_to "Полезная информация", help_informations_path, id: "pl2"
    .triangle
 li
  .link
   =link_to "Вопрос-ответ", question_answer_sites_path, class: 'question_answer_link'
 li
  .link
   =link_to "Новости", news_on_sites_path, class: 'news_link'
 li.last
  .link
   =link_to "Контакты", contacts_sites_path, class: 'contacts_link'

