=content_for :right_block do
 .right_block
  .banners
   .banner1    
    =link_to "", "/sites/zalog", id: "commercialzaym", style: "display:block; width: 231px; height: 338px; overflow: hidden; margin: 0 auto; text-decoration: none;"
   .banner2
    =link_to "", " /news_on_sites/46", id: "commercialzaym2", style: "display:block; width: 231px; height: 338px; overflow: hidden; margin: 0 auto; text-decoration: none;"
  .functional_buttons
   .test
    =link_to getTestButton, new_test_path
   .ask
    = link_to getQuestionButton, question_answer_sites_path   
   .request
    = link_to getRequestButton, request_user_sites_path    