=link_to vk, "http://vk.com/id219861240"
=link_to odnoklasniki, "http://www.odnoklassniki.ru/profile/575192480786"
=link_to facebook, "https://www.facebook.com/profile.php?id=100006455626539"
=link_to instagram, "http://instagram.com/an_kirsh"