html
 head
  title Агентство недвижимости "КИРШ"
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true 
  = csrf_meta_tags 
  = favicon_link_tag 'logo.png'
 body
 .header
  =image_tag 'head_logo.png'
  =image_tag 'top_title.png', id: "top_title"
  .header_text 
   |Ащепкова Ольга Анатольевна, директор, 
   br
   |тел: (8412) 99-00-99, 
   br
   |Электронная почта:
   =mail_to ' direktor@kirsh.ru'
 .left_menu
  =yield :links
  br
  p=link_to 'Главная (Админка)', admin_path
  br
  p=link_to "Выход ( #{current_user.login} )", signout_path if signed_in?
 .content  
  - flash.each do |key, value|
    div class="flash_#{key}" id='flash'= value
    br
  = yield
  .clear
 .footer_admin
  |Все права защищены.
  br  	
	|Copyright 2009 © КИРШ

= debug params if Rails.env.development?