doctype 5
html
 head
  title Агентство недвижимости "КИРШ"
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true 
  = csrf_meta_tags 
  = favicon_link_tag 'logo.png' 
 body
  .head_line style="display: none"
    =image_tag 'head_line.png'
  .main    
   .head style="display: none"
    .logo 
     =link_to logo, root_path
    .adress
     =render "layouts/adress_block"
    .service
     =link_to home_service, root_path
     =mail_to "center@kirsh.ru", email_service
     =link_to site_map, "#"
    .news
     .title
      span Новости
      =link_to "Все новости", news_on_sites_path  
     =render partial: "layouts/news_lines", collection: getNews, as: :news
    .second_level
     .menu 
      =render "layouts/menu_lines"
     =yield :baner     
   .content_site
    .breadcrambs style="display: none"
     =yield :breadcrambs    
    .yield     
     =yield
     =yield :right_block     
   =yield :hot_offer   
   .footer style="display: none"
    .footer_adress 
     =render "layouts/footer_adress_block"
    .footer_urls 
     =render "layouts/footer_menu_lines"
    .footer_social_buttons 
     =render "layouts/social_buttons"
    #htdg
     =render "layouts/htdg"
= debug params if Rails.env.development?     